@{
    ViewData["Title"] = "Register Page";
}

<div>
    <input type="text" name="id"/>
    <br>
    <input type="text" name="id"/>
     <br>
    <input type="text" name="id"/>
     <br>
    <input type="text" name="id"/>
     <br>
  


</div>
