@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1>Login Page</h1>
    <form action="Welcome">
   <input type="text" name="uname" />
   <br>
   <input type="password" name="password"/>

   <input type="submit" value="Login"/>


    </form>
</div>
