@{
    ViewData["Title"] = "Update";
}
<div class="main">

    <form>
<div class="text-center">
    <h1 class="display-4">Insert Product</h1>

    Enter ProductId:<input type="number" name="pid"/><br><br> 

    Enter ProductName:<input type="text" name="pname"/><br><br>

    Enter ProductQty :<input type="number" name="pqty"/><br><br>

    Enter Product_Price:<input type="number" name="price"/><br><br>

    <button type="submit">Insert</button> 

   </form>
</div>

</div>
